/* Stylesheet for Moshe for Tallman Fire District */
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  --primary-color: #E2373A;
  --secondary-color: #1E2352;
  --white-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Brenat Demo', sans-serif;
  font-weight: 700;
  color: var(--secondary-color);
}
h2 {
  font-size: 2.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  width: 100%;
  padding: .75rem;
  box-sizing: border-box;
  font-size: 1rem;
  border: 1px solid var(--secondary-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin-bottom: 1rem;
  display: flex;
}
ul li::before {
  content: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='15.143'%20height='14.328'%20viewBox='0%200%2015.143%2014.328'%3E%3Cpath%20d='M11.75,7.5,6,13.25,11.75,19M6,13.25H19.143'%20transform='translate(20.143 20.414) rotate(180)'%20fill='none'%20stroke='%23fff'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='2'/%3E%3C/svg%3E");
  display: inline-block;
  width: 1em;
  margin-right: .5em;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
header .logo-wrapper {
  max-width: 100px;
  margin: 0 auto;
  padding: .5rem 1rem;
  background-color: var(--white-color);
}
header .logo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header nav {
  display: none;
}

#hero {
  background-color: var(--primary-color);
  position: relative;
  margin-top: 30px;
  padding: 2rem;
  padding-top: 5rem;
}
#hero video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;  
  z-index: 0;
  opacity: .2;
  mix-blend-mode: multiply;
}
#hero .hero-content {
  position: relative;
  z-index: 1;
}
#hero h1 {
  color: var(--secondary-color);
  font-size: 2.7rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}
#hero h1 span {
  color: var(--white-color);
}
#hero h1 a {
  text-decoration: underline;
  color: inherit;
}
.search-bar {
  background: #fff;
  padding: 1rem;
  box-shadow: #00000029 0 3px 6px;
  margin-bottom: -6rem;
}

.search-bar label {
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
}

.search-bar input {
  margin-top: .5rem;
}
.search-bar button {
  background: var(--primary-color);
  border: none;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  margin: 1rem auto -2.5rem;
}

#about {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 8rem 2rem 8rem;
}
#about .about-image {
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}
#about .about-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#about .about-image p {
  font-family: "professor", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  position: absolute;
  bottom: -10px;
  right: -20px;
  max-width: 7em;
  line-height: 1;
  transform: rotate(-25deg);
}
#about h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  color: var(--white-color);
}

#election-day {
  position: relative;
  background: #fff;
  padding: 2rem;
  margin: -5rem 2rem 2rem;
  box-shadow: #00000029 0 3px 6px;
}
#election-day::before {
  content: '';
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  background: 
  repeating-linear-gradient(to right, var(--primary-color) 0 14px, transparent 14px 28px) top/100% 4px repeat-x,
  repeating-linear-gradient(to right, var(--primary-color) 0 14px, transparent 14px 28px) bottom/100% 4px repeat-x,
  repeating-linear-gradient(to bottom, var(--primary-color) 0 14px, transparent 14px 28px) left/4px 100% repeat-y,
  repeating-linear-gradient(to bottom, var(--primary-color) 0 14px, transparent 14px 28px) right/4px 100% repeat-y;
}
#election-day h2 {
  margin-top: 0;
  text-align: center;
  font-size: 2rem;
}
#election-day ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
#election-day li {
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  text-align: center;
}
#election-day li::before {
  display: none;
}
#election-day li svg {
  width: 1em;
  height: 1em;
  margin-right: .5em;
  vertical-align: middle;
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
  stroke-width: 1.5;
}