/* Stylesheet for Moshe for Tallman Fire District */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  --primary-color: #E2373A;
  --secondary-color: #1E2352;
  --white-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Brenat Demo', sans-serif;
  font-weight: 700;
  color: var(--secondary-color);
}
h2 {
  font-size: 2.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  width: 100%;
  padding: .75rem;
  box-sizing: border-box;
  font-size: 1rem;
  border: 1px solid var(--secondary-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin-bottom: 1rem;
  display: flex;
}
ul li::before {
  content: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='15.143'%20height='14.328'%20viewBox='0%200%2015.143%2014.328'%3E%3Cpath%20d='M11.75,7.5,6,13.25,11.75,19M6,13.25H19.143'%20transform='translate(20.143 20.414) rotate(180)'%20fill='none'%20stroke='%23fff'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='2'/%3E%3C/svg%3E");
  display: inline-block;
  width: 1em;
  margin-right: .5em;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
header .logo-wrapper {
  max-width: 100px;
  margin: 0 auto;
  padding: .5rem 1rem;
  background-color: var(--white-color);
}
header .logo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header nav {
  display: none;
}

#hero {
  background-color: var(--primary-color);
  position: relative;
  margin-top: 30px;
  padding: 2rem;
  padding-top: 5rem;
}
#hero video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;  
  z-index: 0;
  opacity: .2;
  mix-blend-mode: multiply;
}
#hero .hero-content {
  position: relative;
  z-index: 1;
}
#hero h1 {
  color: var(--secondary-color);
  font-size: 2.7rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}
#hero h1 span {
  color: var(--white-color);
}
#hero h1 a {
  text-decoration: underline;
  color: inherit;
}
.search-bar {
  background: #fff;
  padding: 1rem;
  box-shadow: #00000029 0 3px 6px;
  margin-bottom: -6rem;
}
.search-bar-content {
  width: 100%;
  display: block;
}

.search-bar label {
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
}

.search-bar input {
  margin-top: .5rem;
}
.search-bar button {
  background: var(--primary-color);
  border: none;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  margin: 1rem auto -2.5rem;
}
.search-bar #result {
  display: none;
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
}
div#result ul {
  display: block;
}
div#result ul li {
  display: block;
}
div#result ul li::before {
  content: none;
  display: none;
}
div#result ul a {
  color: inherit;
}

#about {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 8rem 2rem 14rem;
}
#about .about-image {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}
#about .about-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#about .about-image p {
  font-family: "professor", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  position: absolute;
  bottom: -10px;
  right: -20px;
  max-width: 7em;
  line-height: 1;
  transform: rotate(-25deg);
}
#about h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  color: var(--white-color);
}

#election-day {
  position: relative;
  background: #fff;
  padding: 2rem;
  margin: -10rem 2rem 2rem;
  box-shadow: #00000029 0 3px 6px;
  z-index: 1;
}
#election-day::before {
  content: '';
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: calc(100% + 2rem);
  height: calc(100% + 2rem);
  z-index: -1;
  background: 
  repeating-linear-gradient(to right, var(--primary-color) 0 14px, transparent 14px 28px) top/100% 4px repeat-x,
  repeating-linear-gradient(to right, var(--primary-color) 0 14px, transparent 14px 28px) bottom/100% 4px repeat-x,
  repeating-linear-gradient(to bottom, var(--primary-color) 0 14px, transparent 14px 28px) left/4px 100% repeat-y,
  repeating-linear-gradient(to bottom, var(--primary-color) 0 14px, transparent 14px 28px) right/4px 100% repeat-y;
}
#election-day h2 {
  margin-top: 0;
  text-align: center;
  font-size: 2rem;
}
#election-day ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
#election-day li {
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  text-align: center;
  flex-grow: 1;
  min-width: calc(50% - 17px);
}
#election-day li::before {
  display: none;
}
#election-day li.bar {
  width: 1px;
  background: var(--secondary-color);
  flex-grow: 0;
  min-width: 0;
}
#election-day li.bar:nth-child(4) {
  display: none;
}
#election-day li svg {
  width: 1em;
  height: 1em;
  margin-right: .5em;
  vertical-align: middle;
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
  stroke-width: 1.5;
}

#mission {
  padding: 4rem 2rem 5rem;
}
#mission h2 {
  margin: 0;
  text-align: center;
  font-size: 12rem;
  color: var(--primary-color);
  line-height: 9rem;
}
#mission h3 {
  margin-top: 0;
  text-align: center;
  font-size: 2rem;
}
#mission p {
  text-align: center;
  color: var(--secondary-color);
}

#faqs {
  padding: 0 2rem 2rem;
  position: relative;
}
#faqs h2 {
  margin: 0;
  text-align: center;
}
#faqs ul {
  display: flex;
  flex-direction: column;
  gap: 0;
}
#faqs li {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 1rem;
  display: block;
  margin-bottom: 3px;
}
#faqs li a {
  color: inherit;
}
#faqs li::before {
  display: none;
}
#faqs li h3 {
  margin: 0;
  font-size: 1rem;
  color: var(--white-color);
  font-family: montserrat, sans-serif;
  font-weight: 600;
  cursor: pointer;
}
#faqs li p {
  font-size: 1rem;
  overflow: hidden;
  margin: 0;
  max-height: 0;
  transition: .5s;
}
#faqs li.active p {
  max-height: 500px;
  margin-top: 1rem;
}
#faqs .icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  height: 160%;
  max-width: none;
  z-index: -1;
}

#map {
  min-height: 500px;
  width: 100%;
}

#contact {
  background-color: var(--secondary-color);
  padding: 4rem 1rem;
  color: var(--white-color);
  text-align: center;
}
#contact h2 {
  color: var(--white-color);
  margin: 0;
  text-align: center;
  font-size: 1rem;
}
#contact a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 1.25rem;
	display: inline-block;
	overflow: hidden;
	line-height: 1.25;
}

#contact a::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: var(--primary-color);
	white-space: nowrap;
	width: 0%;
	transition: width 0.4s 0.3s;
}

#contact a:hover::before {
	width: 100%;
}

@media (max-width: 360px) {
  #election-day li.bar {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
  body {
    font-size: 24px;
  }
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  header {
    display: flex;
    align-items: center;
    gap: 3rem;
    max-width: 90%;
    margin: 0 5%;
  }
  header .logo-wrapper {
    max-width: 150px;
    padding: 1rem 2rem;
  }
  header nav {
    display: block;
    flex-grow: 1;
    width: 35%;
  }
  header nav li::before {
    display: none;
  }
  header nav a {
    color: var(--secondary-color);
    font-family: 'Brenat Demo', sans-serif;
    text-decoration: none;
    margin-top: 3rem;
  }
  header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #hero {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #hero .hero-content {
    position: static;
    text-align: center;
    max-width: 1120px;
    margin: 0 auto;
  }
  #hero h1 {
    font-size: 4.5rem;
  }
  
  #hero .search-bar {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: -3rem;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 90%;
    left: 5%;
  }
  #hero .search-bar label {
    display: none;
  }
  #hero .search-bar .autocomplete-container {
    flex-grow: 1;
  }
  #hero .search-bar input {
    margin-top: 0;
    height: 50px;
  }
  #hero .search-bar button {
    margin: 0;
  }
  #hero .search-bar #result ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #hero .search-bar-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  #about .wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
  }
  #about .about-image {
    max-width: 50%;
    margin-left: 2.5rem;
  }
  #about .about-image p {
    font-size: 2rem;
  }
  #about .about-content {
    max-width: 50%;
  }

  #election-day {
    max-width: 80%;
    margin: -6rem auto 4rem;
  }
  #election-day li {
    min-width: 0;
  }
  #election-day li.bar:nth-child(4) {
    display: block;
  }

  #mission {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.25rem;
  }
  #mission h2 {
    font-size: 22rem;
    line-height: 1;
  }
  #mission h3 {
    font-size: 2rem;
    margin: 0;
    margin-top: -3rem;
  }
  #mission p {
    text-align: left;
  }

  #faqs ul {
    max-width: 1200px;
    margin: 1rem auto;
    display: block;
    width: 50%;
  }
  #faqs .faq-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
  }

  #contact h3 {
    font-size: 2rem;
  }
  #contact a {
    font-size: 3rem;
  }
}
@media (min-width: 1360px) {
  header {
    max-width: 1200px;
    margin: 0 calc((100% - 1200px) / 2);
  }
  #hero .search-bar {
    max-width: 1200px;
    left: calc((100% - 1200px) / 2);
  }
  #about .about-image {
    margin-right: -5rem;
  }
  #election-day {
    max-width: 1000px;
    margin: -6rem auto 4rem;
  }
}

footer {
  font-size: .8rem;
  text-align: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
  color: #fff;
  margin-top: -2rem;
  margin-bottom: 10px;
}
@media (max-width: 1040px) {
  footer {
    margin-top: -2.8rem;
    margin-bottom: 10px;
  }
}
@media (max-width: 536px) {
  #contact {
    padding-bottom: 6rem;
  }
  footer {
    margin-top: -4rem;
    margin-bottom: 10px;
  }
}
@media (max-width: 360px) {
  #contact {
    padding-bottom: 8rem;
  }
  footer {
    margin-top: -6rem;
    margin-bottom: 10px;
  }
}