/* Stylesheet for Moshe for Tallman Fire District */
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  --primary-color: #E2373A;
  --secondary-color: #1E2352;
  --white-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Brenat Demo', sans-serif;
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  width: 100%;
  padding: .75rem;
  box-sizing: border-box;
  font-size: 1rem;
  border: 1px solid var(--secondary-color);
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
header .logo-wrapper {
  max-width: 100px;
  margin: 0 auto;
  padding: .5rem 1rem;
  background-color: var(--white-color);
}
header .logo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header nav {
  display: none;
}

#hero {
  background-color: var(--primary-color);
  position: relative;
  margin-top: 30px;
  padding: 2rem;
  padding-top: 5rem;
}
#hero video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;  
  z-index: 0;
  opacity: .2;
  mix-blend-mode: multiply;
}
#hero .hero-content {
  position: relative;
  z-index: 1;
}
#hero h1 {
  color: var(--secondary-color);
  font-size: 2.7rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}
#hero h1 span {
  color: var(--white-color);
}
#hero h1 a {
  text-decoration: underline;
  color: inherit;
}
.search-bar {
  background: #fff;
  padding: 1rem;
  box-shadow: #00000029 0 3px 6px;
  margin-bottom: -6rem;
}

.search-bar label {
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
}

.search-bar input {
  margin-top: .5rem;
}
.search-bar button {
  background: var(--primary-color);
  border: none;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  margin: 1rem auto -2.5rem;
}